@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1708347364873') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xueli:before {
  content: "\e63c";
}

.icon-dianhua:before {
  content: "\e88b";
}

.icon-youxiang:before {
  content: "\e908";
}

.icon-npm:before {
  content: "\f1fe";
}

.icon-github:before {
  content: "\e50e";
}

.icon-boke1:before {
  content: "\e502";
}

