.markdown-body {
  padding: 10px 32px 0px;
  border-style: none;
}

a {
  color: #409eff !important;
}

strong>code {
  background-color: #fff !important;
  color: #000 !important;
  padding: 5px 6px !important;
  border-radius: 10px !important;
  border: 1px solid #ccc !important;
  font-size: 13px !important;
  font-weight: 700 !important;
}
